.score {
	color:white;
	border-radius: 4%;
}

.is-blue{
	background:hsl(204, 86%, 53%)
}

.is-red{
	background: hsl(348, 100%, 61%)
}
.is-white {
	color:white;
}

.is-answered {
	background: hsl(141, 71%, 48%);
	color: white;
}